# Ensure consistent EOLs and encoding
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.md text eol=lf

# Bin/external files
.mvn/wrapper/dists/** -text
